<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>swicon</title>

    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <!-- <link rel="stylesheet" href="css/page.css"> -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>


<body id="body" class="overflow:auto">
    <v-app id="app">
        <v-app-bar app color="primary" class="white--text" elevate-on-scroll absolute>
            <v-btn icon>
                <v-icon color="white">mdi-swim</v-icon>
            </v-btn>

            <v-app-bar-title>Swimming Competition Controller</v-app-bar-title>

        </v-app-bar>
        <v-main id="body" class="px-10 pb-10" :style="{ background: $vuetify.theme.themes.light.background }">
            <v-container fluid>
                <v-row>
                    <v-col>
                        <v-card href="./static/readme.html" class="fill-height">
                            <v-card-title>
                                はじめに
                            </v-card-title>
                            <v-card-text>
                                このツールの使用目的，使用するためにはといった情報はこちら
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card href="./static/howtouse.html" class="fill-height">
                            <v-card-title>
                                使い方
                            </v-card-title>
                            <v-card-text>
                                このツールの使い方はこちら
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card href="./static/details.html" class="fill-height">
                            <v-card-title>
                                詳細
                            </v-card-title>
                            <v-card-text>
                                このツールの拡張など，細かい情報はこちら
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>

            <v-card elevation="2" class="mt-5">
                <v-card-title>読み込んだアドオン</v-card-title>
                <v-divider></v-divider>
                <v-list>
                    <v-list-item two-line v-for="addon in addons" :key="addon.name">
                        <!-- <v-icon color="accent">mdi-file</v-icon> -->
                        <v-list-item-icon>
                            <!-- {{addon.config.icon}} -->
                            <v-icon color="accent" v-html="addon.config.icon"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>{{addon.name}}</v-list-item-title>
                            <v-list-item-subtitle>{{addon.config.description}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>

            <v-card elevation="2" class="mt-5">
                <v-card-title>ファイルの読み込み</v-card-title>
                <v-divider></v-divider>
                <v-file-input multiple label="File input" ref="fileupload" show-size counter @change="handleFiles"
                    class="ma-8">
                </v-file-input>
                <v-divider></v-divider>
                <v-list>
                    <v-list-item two-line v-for="file in files" :key="file.name">
                        <!-- {{file.validness}} -->
                        <v-list-item-icon>
                            <v-icon color="grey" v-if="Object.values(file.validness).every(e=>e)">mdi-file</v-icon>
                            <v-icon color="red lighten-3" v-if="!Object.values(file.validness).every(e=>e)">mdi-alert
                            </v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>{{file.name}}</v-list-item-title>
                            <v-list-item-subtitle>{{file.abstruct}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>

            <component v-bind:is="component" v-for="component in extendUIs" :key="JSON.stringify(component)" />
        </v-main>
    </v-app>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<script src="./js/libs/xlsx.full.min.js"></script>
<script src="./js/libs/cpexcel.js"></script>
<script src="./js/scripts.js"></script>
<script src="./js/ui.js"></script>
<script src="./js/addon.js"></script>
<script src="./js/excel.js"></script>
<script src="./js/pager.js"></script>

<script>
    const APP = new Vue({
        el: '#app',
        vuetify: new Vuetify({
            theme: {
                themes: {
                    light: {
                        background: "#f0f0f0"
                    }
                }
            }
        }),
        data: {
            files: [],
            extendUIs: {},
            addons: []
        },
        methods: {
            async handleFiles(files) {
                if (files.length > 0) {
                    const jobs = files.map(f => ExcelFile.parse(f))
                    const data = await Promise.all(jobs)
                    this.files = files.map((_, i) => Parse(RUNTIME, files[i], data[i]))
                    console.log(this.files)
                    for (const e of Object.keys(RUNTIME.Parser)) {
                        RUNTIME.Parser[e].ui(this.files)
                    }
                    for (const e of Object.keys(RUNTIME.Parser)) {
                        const files = this.files.filter(f => f.type == e)
                        if (files.length > 0) {
                            await Propagate(e, files)
                        }

                    }
                }
            }
        },
        async mounted() {
            RUNTIME.Addons = await Addon.load()
            this.addons = RUNTIME.Addons
        }
    })

</script>

</html>